---
title: Карта сайта
layout: landing
---
<div class="sitemap сolumns">
	<div class="column">
	  	<h3>Страницы</h3>
		  {% for page in site.pages %}
		    {% unless page.sitemap.exclude == "yes" %}
		    <a href="{{ site.url }}{{ page.url | remove: "index.html" }}">{{ page.title }}</a>
		    {% endunless %}
		  {% endfor %}
	</div>
	<div class="column">
		<h3>Эскизы печатей</h3>
	  {% for pechat in site.pechati %}
	    {% unless pechat.published == false %}
	    <a href="{{ site.url }}{{ pechat.url }}">Печать {{ pechat.categories }} {{ pechat.title }}</a>
	    {% endunless %}
	  {% endfor %}
	</div>
	<div class="column">
		<h3>Изготовление печатей в других городах и местах</h3>
		{% for place in site.places %}
			{% unless place.published == false %}
				<a href="{{ site.url }}{{ place.url }}">Заказать печать {{ place.title }}</a>
			{% endunless %}
		</ul>
		{% endfor %}
	</div>
</div>