<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.author %}
              {{ site.author | escape }}
            {% else %}
              {{ site.title | escape }}
            {% endif %}
            </li>
            {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://dribbble.com/{{ site.dribbble.username }}" title="Leo Osa's {{ site.dribbble.name }}" target="_blank"><i class="fa {{ site.dribbble.icon }}"></i> {{ site.dribbble.username }}</a></li>
          <li><a href="https://github.com/{{ site.github.username }}" title="Leo Osa's {{ site.github.name }}" target="_blank"><i class="fa {{ site.github.icon }}"></i> {{ site.github.username }}</a></li>
          <li><a href="https://medium.com/@{{ site.medium.username }}" title="Leo Osa's {{ site.medium.name }}" target="_blank"><i class="fa {{ site.medium.icon }}"></i> {{ site.medium.username }}</a></li>
          <li><a href="https://linkedin.com/@{{ site.linkedin.username }}" title="Leo Osa's {{ site.linkedin.name }}" target="_blank"><i class="fa {{ site.linkedin.icon }}"></i> {{ site.linkedin.username }}</a></li>
          <li><a href="https://twitter.com/{{ site.twitter.username }}" title="Leo Osa's {{ site.twitter.name }}" target="_blank"><i class="fa {{ site.twitter.icon }}"></i> {{ site.twitter.username }}</a></li>
         
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>