<footer>
	<div class="wrapper">
		<div class="divider"></div>
		<div class="py-5"></div>
		<div class="columns">
		  	<div class="column col-5">
		  		<h6>Изготовление</h6>
		  		<div class="p-2"></div>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/" title="Изготовление печатей">Изготовление печатей</a>
		  		<a href="{{ site.url }}/izgotovlenie-shtampov/" title="Изготовление штампов">Изготовление штампов</a>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/pechat-predprinimatelya/" title="Печати для предпринимателей (СПД)">Печати для предпринимателей</a>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/pechati-yuridicheskix-lic-ooo-chp-chao-pat-i-dr/" title="Печати для юридических лиц (ООО, ЧП, ЧАО, ПАО)">Печати для юридических лиц</a>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/izgotovlenie-dopolnitelnyx-pechatej/" title="Дополнительные печати для документов">Печати для документов</a>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/izgotovlenie-pechatej-dlya-advokatov/" title="Печати для адвокатов">Печати для адвокатов</a>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/pechati-arxitektorov-i-inzhenerov/" title="Печати для архитектора, инженера или проектировщика">Печати для архитекторов и инженеров</a>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/izgotovlenie-pechatej-dlya-notariusov/" title="Печати для нотариусов">Печати для нотариусов</a>
		  		<a href="{{ site.url }}/izgotovlenie-pechatej/izgotovlenie-pechatej-dlya-vrachej/" title="Печати для врачей">Печати для врачей</a>
		  		<div class="p-2"></div>
		  		<h6><a href="{{ site.url }}/qa" alt="Изготовление печатей">Вопросы и ответы</a></h6>
		  		<div class="p-2"></div>
		  		<h6><a href="{{ site.url }}/dostavka-oplata/">Доставка и оплата</a></h6>
		  		<div class="p-2"></div>
				<small><a href="{{ site.url }}/sitemap/" alt="Карта сайта">Карта сайта</a> | <a href="{{ site.url }}/sitemap.xml" alt="XML">XML</a></small>
		  	</div>
		  	
		  	<div class="column col-7 hide-md">
		  		<h6>Заказать в других местах</h6>
		  		<div class="p-2"></div>
		  		{% for item in site.places %}
					<a href="{{ site.url }}{{ item.url }}" title="Изготовление печатей {{ item.title }}">Печати {{ item.title }}</a>
				{% endfor %}
		  	</div>
		</div>
		<div class="py-5"></div>
		<div class="columns">
			<div class="column">
				<small>{{ site.data.app.description | markdownify }}</small>
			</div>
		</div>
	</div> 
</footer>