<div class="container">
	<div class="columns">
		{% for item in pechati %}
		<div class="column text-center pechat">
			<a href="{{ item.url }}">
			<figure class="figure text-center">
				<img src="{{ site.url }}/uploads/{{ item.img }}.png" class="img-fit-cover eskiz" alt="Печать {{ item.title }}">
  				<figcaption class="figure-caption text-center">Эскиз печати №{{ item.title }}</figcaption>
  			</figure>
			<h5 class="h6">Печать {{ item.categories }}</h5>
			<p>{{ item.description }}</p>
			</a>	
		</div>
		{% endfor %}
	</div>
</div>	