<div class="topbar">
	<div class="wrapper">
		<div class="columns navbar col-gapless">
			<div class="navbar-section">
				<div class="col-xs-2 col-md-auto col-lg-4">Задайте вопрос</div>
				{% for m in site.data.app.messengers %}
					<a href="{{ m[1].link }}" class="tooltip tooltip-bottom" target="_blank" alt="{{ m[1].name }}" data-tooltip="{{ m[1].name }}">
						<svg class="icon icon-telegram">
							<use xlink:href="{{ site.url }}/assets/icons/symbol-defs.svg#{{ m[1].icon }}"></use>
						</svg>
					</a>
	            {% endfor %}
	            <a href="tel:{{ site.data.app.phones }}" class="show-xs">
					<svg class="icon icon-phone-outline">
						<use xlink:href="{{ site.url }}/assets/icons/symbol-defs.svg#icon-phone-outline"></use>
					</svg>
					{{ site.data.app.phones }}
				</a>
			</div>
			<div class="navbar-section hide-md"><div class="tile tile-centered">
			  <div class="tile-icon">
			    <div class="example-tile-icon">
			      <i class="icon icon-file centered"></i>
			    </div>
			  </div>
			  <div class="">
			    <div class="tile-title">Оболонь, ст. м. Минская</div>
			    <a href="https://goo.gl/maps/XbKJzDChbxT2" target="_blank" rel="noopener" class="tile-subtitle text-gray tooltip tooltip-bottom" data-tooltip="цокольный этаж супермаркета VARUS">г. Киев, проспект Оболонский 20-А</a>

			  </div>
			</div>
			</div>
			<div class="navbar-section hide-md text-right">
				<div class="dropdown drowdown-right">
				  +38(044)...<a href="#" class="dropdown-toggle" id="phones" tabindex="0">
				    показать номер <i class="icon icon-caret"></i>
				  </a>
				  <!-- menu component -->
				  <ul class="menu text-right">
				  	{% for phone in site.data.app.phones %}
			            <li class="menu-item""><a href="tel:{{ phone }}">{{ phone }}</a></li>
			        {% endfor %}
				   
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>