@import "_variables";
@media screen and (max-width: $responsive-breakpoint) {
  // body { background: red; }
  .topbar {
  	position:fixed;
  	bottom:0;
  	left:0;
  	right:0;
  }
  header {
  	min-height: 55px;
  	padding-right: 15px;
  }
  .navbar-brand > svg {
  	max-width: 130px;
  }
  h1, .h1 {font-size:1.6rem;}
  h2, .h2 {font-size: 1.1rem;}
  h3, .h3 {font-size:1.05rem;}
  h4, .h4 {font-size:1rem;}
  h5, .h5 {font-size:.85rem;}
  h6, .h6 {font-size:.65rem;}
  p {
  	font-size: .8rem;
  }
  .figure .figure-caption {font-size:.7rem;}
  .breadcrumb {font-size:.6rem;}
  small>p{
  	font-size: .55rem;
    padding-bottom: 1rem;
  }
  footer .column>a {
	  font-size:.65rem;
  }
  .wrapper {
  	padding: 0 .7rem;
  }
  .hero-unit {
  	padding-bottom: 3.5rem;
	  padding-top: 3.5rem;
	  h1, .h1 {
  		font-size: 1.3rem;
  		padding-left: 1rem;
  		padding-right: 1rem;
  	}
  }
  .place {
    min-width:50%;
  }
  .modal.modal-lg {
    align-items: flex-end;
    .modal-container .modal-body {
      max-height:80vh;
    }
    .content > a {
        margin-top: .45rem;
        display: inline-block;
        color: gray;
    }
  }
  .pechat .figure .eskiz {
      height: 6.6rem;
  }
}
@media screen and (min-width: $responsive-breakpoint+1) {
	header {
  		min-height: 80px;
  		.btn:not(.btn-link) {
			padding-left:2rem;
			padding-right:2rem;
		}
		.navbar-section >.btn-link:not(.btn-action), .navbar-section > .dropdown {
			margin: 0 0 0 1.5rem;
		}
  	}
  	.wrapper {
  		padding: 0 1rem;
  	}	
  	.hero-unit {
      border-radius:.5rem;
  		h1, .h1, p {
			font-style:italic;
			max-width: 50%;
	    	margin-left: 25%;
		}
		>.jumbotron {
			padding-bottom: 7.5rem;
    		padding-top: 7.5rem;
		}
  	}
    .pechat {
      min-width:10rem;
    }
    .place {
      min-width:50%;
    }
    .pechat .figure .eskiz {
        height: 8rem;
    }
}
