<!DOCTYPE html>
<html lang="{{ site.lang }}">
  {% include head.html %}
  <body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PP3GJ58"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="main" id="app">
    {% include topbar.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <div class="modal modal-lg" :class="{ 'active': menu }" id="modal-id">
      <a href="#close" class="modal-overlay" aria-label="Close"></a>
      <div class="modal-container">
        <div class="modal-header">
          <div class="modal-title h5 text-gray">Навигация</div>
        </div>
        <div class="modal-body">
          <div class="content">
            {% include mobile_nav.html %}
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-link text-dark" @click="menu=!menu">Закрыть <i class="icon icon-cross"></i></button>
        </div>
      </div>
    </div>
  </div>
  
  <script src="{{ site.url }}/js/app.js"></script>
  <!-- <script src="{{ site.url }}/js/bundle.js"></script> -->
  <script defer src="{{ site.url }}/assets/icons/svgxuse.js"></script>
  </body>
</html>
