---
layout: default
---

<div class="bg-gray text-center hero-unit" style="background: #{{ page.color }};">
    {% if page.title %}
      <div class="jumbotron" style="color: #{{ page.text-color }}">
        <h1>{{ page.title }}</h1>
      </div>
    {% endif %}
    <figure class="figure bg text-center">
    	<img class="img-responsive" src="{{ site.baseurl }}/assets/bg.svg" alt="">
	</figure>
</div>
<div class="wrapper">  {% include breadcrumbs.html %}</div>
<div class="py-5"></div>
<div class="main-inner wrapper landing">
	{% if page.url == "/izgotovlenie-pechatej/" %}
	<div class="container">
		<div class="columns">
			{% for item in site.pechati %}
			<div class="column text-center">
				<a href="{{ item.url }}">
				<figure class="figure text-center">
	  				<img src="{{ site.baseurl }}/assets/img/{{ item.img }}" class="class="img-fit-cover" alt="Печать {{ item.title }}">
	  				<figcaption class="figure-caption text-center">Эскиз печати №{{ item.title }}</figcaption>
	  			</figure>
				<h5 class="h6">Печать {{ item.categories }} {{ item.title }}</h5>
				<p>{{ item.description }}</p>
				</a>	
			</div>
			{% endfor %}
		</div>
	</div>
		
	{% endif %}
    {{ content }}
    {% if page.url == "/izgotovlenie-pechatej/" %}
	<div class="container">
		<div class="columns">
			{% for item in site.places %}
			<div class="column text-center">
				<a href="{{ item.url }}">
					<h5 class="h6">Изготовление печатей {{ item.title }}</h5>
				</a>	
			</div>
			{% endfor %}
		</div>
	</div>
		
	{% endif %}
</div>