---
layout: default
---

<div class="wrapper">
{% include breadcrumbs.html %}

<h1>Изготовление печатей {{ page.title }}</h1>
<p>Изготовление печатей {{ page.title }} методом лазерной гравировки. Сырьевой материал — высококачественная австрийская резина. При заказе печати, наши дизайнеры в обязательном порядке согласуют с Вами макет Вашего заказа. Уже на следующий день после заказа, Вы можете забрать печать в Харькове и области в одном из отделений «НОВОЙ ПОЧТЫ».</p>
<div class="main-inner place">
  {{ content }}
</div>

<h2>Виды печатей {{ page.title }}</h2>

<h2>Заказать печать {{ page.title }}</h2>
</div>
